.react-logo {
  height: 10vmin;
  margin-left: auto !important; 
  pointer-events: none;
}

.text-grey { color: #888; }

.bg-white {
  background-color: #FFF;
}

.round-top {
  border-radius: 0.3em 0.3em 0 0;
}

.m-b {
  margin-bottom: 4px;
}

.app-title {
  color: #0692FF;
  font-size: 4vmin;
}

/* Small screens less than 720px */
@media screen and (max-width: 720px) {
  .react-logo { order: 2; }
  .container { max-width: none; }
}

@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
